In [ ]:
# Gerekli kütüphaneleri import ettik.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
warnings.warn("thisnwill not show")

In [ ]:
# Datayı import ediyoruz ve sonrasında datanın genel durumunu göre bilmek için info() fonksiyonunu çağırıyoruz.

In [2]:
df = pd.read_excel(r"C:\Users\Admin\Desktop\intern project\orjinal datalar\Satislar.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190031 entries, 0 to 190030
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   nOrderId               95016 non-null  float64
 1   Company                56758 non-null  object
 2   Customer ID            94975 non-null  object
 3   cPostCode              94972 non-null  object
 4   dReceievedDate         95016 non-null  object
 5   Country                95016 non-null  object
 6   status                 95016 non-null  object
 7   Processed              95016 non-null  float64
 8   ProcessedDate          91552 non-null  object
 9   Source                 95016 non-null  object
 10  Currency               95016 non-null  object
 11  Subtotal               95016 non-null  float64
 12  Tax                    95016 non-null  float64
 13  Total                  95016 non-null  float64
 14  OrderItemSKU           95016 non-null  object
 15  OrderItemTitle         95016 non-null  object
 16  ItemCategory           95016 non-null  object
 17  OrderItemQuantity      95016 non-null  float64
 18  DispatchStockUnitCost  91552 non-null  float64
 19  TotalWeight            95016 non-null  float64
 20  PurchasePrice          95016 non-null  float64
 21  TrackingNumber         86842 non-null  object
 22  PostalService          95016 non-null  object
dtypes: float64(9), object(14)
memory usage: 33.3+ MB

In [ ]:
# datamızdaki nan değerlerin oranlarını kontrol ediyoruz.

In [3]:
round((df.isna().sum()/df.shape[0]*100), 5)

nOrderId                 49.99974
Company                  70.13224
Customer ID              50.02131
cPostCode                50.02289
dReceievedDate           49.99974
Country                  49.99974
status                   49.99974
Processed                49.99974
ProcessedDate            51.82260
Source                   49.99974
Currency                 49.99974
Subtotal                 49.99974
Tax                      49.99974
Total                    49.99974
OrderItemSKU             49.99974
OrderItemTitle           49.99974
ItemCategory             49.99974
OrderItemQuantity        49.99974
DispatchStockUnitCost    51.82260
TotalWeight              49.99974
PurchasePrice            49.99974
TrackingNumber           54.30114
PostalService            49.99974
dtype: float64

In [ ]:
# sütun isimlerinde boşluk, gereksiz karakterler olup olmadığını kontrol ediyoruz.

In [6]:
df.columns.unique()

Index(['nOrderId', 'Company', 'Customer ID', 'cPostCode', 'dReceievedDate',
       'Country', 'status', 'Processed', 'ProcessedDate', 'Source', 'Currency',
       'Subtotal', 'Tax', 'Total', 'OrderItemSKU', 'OrderItemTitle',
       'ItemCategory', 'OrderItemQuantity', 'DispatchStockUnitCost',
       'TotalWeight', 'PurchasePrice', 'TrackingNumber', 'PostalService'],
      dtype='object')

In [ ]:
# sütun isimlerinde datanın genel isimlerine göre düzeltmeler yapıyoruz.

In [7]:
df.rename(columns={"nOrderId":"OrderId",
                   "Customer ID":"CustomerID",
                   "cPostCode":"Post_Code",
                   "dReceievedDate":"ReceivedDate",
                   }, inplace=True)

In [ ]:
# datamızda bütün satırlarda ortak olarak bulunan nan değerleri atıyoruz.

In [8]:
df.dropna(subset= ["OrderId"], inplace=True)

In [ ]:
# Oortak nan değerler çıktıktan sonra datanın missing value değerlerine bakıyoruz.

In [9]:
round((df.isna().sum()/df.shape[0]*100), 5)

OrderId                   0.00000
Company                  40.26480
CustomerID                0.04315
Post_Code                 0.04631
ReceivedDate              0.00000
Country                   0.00000
status                    0.00000
Processed                 0.00000
ProcessedDate             3.64570
Source                    0.00000
Currency                  0.00000
Subtotal                  0.00000
Tax                       0.00000
Total                     0.00000
OrderItemSKU              0.00000
OrderItemTitle            0.00000
ItemCategory              0.00000
OrderItemQuantity         0.00000
DispatchStockUnitCost     3.64570
TotalWeight               0.00000
PurchasePrice             0.00000
TrackingNumber            8.60276
PostalService             0.00000
dtype: float64

In [54]:
df.duplicated().value_counts()

False    94915
True       101
dtype: int64

In [57]:
# duplicated olan satırları ayrı bir csv yapıp kontrol edelim.
df[df.duplicated()].to_csv("duplicated_satislar.csv", index=False)

In [ ]:
# df.drop_duplicates(inplace=True)

In [46]:
# Object sütunları inceleyelim
def obj_column_analysis(df):
    object_col = df.select_dtypes(include = ["object"]) 
    for column in object_col:
        print(f"Sütun ismi: {column}\nToplam farklı değer sayısı:\
 {df[column].value_counts(dropna=False).count()}\n\nSütundaki toplam nan değer sayısı:\
 {df[column].isna().sum()} \n\nFarklı değerlerin\
    sort edilmiş hali: \n\n{df[column].value_counts(dropna=False).sort_values(ascending=False)}")
        print("\n")
        print("# "*20)
        print("\n")

In [47]:
obj_column_analysis(df)

Sütun ismi: Company
Toplam farklı değer sayısı: 748

Sütundaki toplam nan değer sayısı: 38258

Farklı değerlerin    sort edilmiş hali:

Redacted                      55736
NaN                           38258
Student                          36
Home                             19
Progress House Day Nursery       13
                              ...
P and C Retail UK Limited         1
Nudo.                             1
Vanessa Fiorelli                  1
CandidSky                         1
8B Church Gate                    1
Name: Company, Length: 748, dtype: int64


# # # # # # # # # # # # # # # # # # # #


Sütun ismi: CustomerID
Toplam farklı değer sayısı: 32498

Sütundaki toplam nan değer sayısı: 41

Farklı değerlerin    sort edilmiş hali:

C0000001    55736
C0000040       59
NaN            41
C0002496       27
C0009544       16
            ...
C0026267        1
C0016631        1
C0025719        1
C0007579        1
C0001333        1
Name: CustomerID, Length: 32498, dtype: int64


# # # # # # # # # # # # # # # # # # # #


Sütun ismi: Post_Code
Toplam farklı değer sayısı: 32798

Sütundaki toplam nan değer sayısı: 44

Farklı değerlerin    sort edilmiş hali:

Redacted    55736
NaN            44
SW15 4AH       36
WS13 8UR       25
N8 7EB         20
            ...
DH7 0RN         1
CO11 2JU        1
SA11 2JU        1
DN10 4HA        1
SW2 5TN         1
Name: Post_Code, Length: 32798, dtype: int64


# # # # # # # # # # # # # # # # # # # #


Sütun ismi: Country
Toplam farklı değer sayısı: 25

Sütundaki toplam nan değer sayısı: 0

Farklı değerlerin    sort edilmiş hali:

United Kingdom            93326
UNKNOWN                    1123
Ireland                     172
Germany                     130
Italy                       107
France                       66
Spain                        39
Jersey                       12
Austria                      10
Sweden                        5
Romania                       4
Malta                         3
Netherlands                   3
Portugal                      3
Belgium                       2
Luxembourg                    2
Denmark                       1
Guadaloupe                    1
Lithuania                     1
Hungary                       1
Switzerland                   1
Cyprus                        1
British Virgin Islands        1
Poland                        1
United States                 1
Name: Country, dtype: int64


# # # # # # # # # # # # # # # # # # # #


Sütun ismi: status
Toplam farklı değer sayısı: 3

Sütundaki toplam nan değer sayısı: 0

Farklı değerlerin    sort edilmiş hali:

PAID      92908
UNPAID     2106
RESEND        2
Name: status, dtype: int64


# # # # # # # # # # # # # # # # # # # #


Sütun ismi: Source
Toplam farklı değer sayısı: 8

Sütundaki toplam nan değer sayısı: 0

Farklı değerlerin    sort edilmiş hali:

AMAZON            56111
WOOCOMMERCE       21546
EBAY               8813
AMAZON FBA         5328
ETSY               1793
DIRECT             1024
WAYFAIRCHANNEL      359
OnBuy.com            42
Name: Source, dtype: int64


# # # # # # # # # # # # # # # # # # # #


Sütun ismi: Currency
Toplam farklı değer sayısı: 5

Sütundaki toplam nan değer sayısı: 0

Farklı değerlerin    sort edilmiş hali:

GBP    94304
UNK      399
EUR      307
SEK        5
PLN        1
Name: Currency, dtype: int64


# # # # # # # # # # # # # # # # # # # #


Sütun ismi: OrderItemSKU
Toplam farklı değer sayısı: 2670

Sütundaki toplam nan değer sayısı: 0

Farklı değerlerin    sort edilmiş hali:

2758        3809
2762        1926
2764        1187
2763        1030
47273-uk     965
            ...
49476-my       1
49342-my       1
48770-my       1
48721          1
3351           1
Name: OrderItemSKU, Length: 2670, dtype: int64


# # # # # # # # # # # # # # # # # # # #


Sütun ismi: OrderItemTitle
Toplam farklı değer sayısı: 2670

Sütundaki toplam nan değer sayısı: 0

Farklı değerlerin    sort edilmiş hali:

Myshaggy 380 Grey 80x150                                                                                                                                                           3809
Myshaggy 380 Grey 120x170                                                                                                                                                          1926
Myshaggy 380 Grey 160x230                                                                                                                                                          1187
Myshaggy 380 Grey 140x200                                                                                                                                                          1030
EFES 7437 grey 120X170                                                                                                                                                              963
                                                                                                                                                                                   ...
Linea Pistachio 200x66                                                                                                                                                                1
Shaggy rugs Fluffy Rug Square Design Multicolour Long pile Modern living room Flokati Solid colour Uni | different dimensions | Children's room & youth room (160x220 cm, Grey)       1
Flex Brown 120x170                                                                                                                                                                    1
Myshaggy 385 Dark Grey/Ivory 80x150                                                                                                                                                   1
Flex Grey 140x200                                                                                                                                                                     1
Name: OrderItemTitle, Length: 2670, dtype: int64


# # # # # # # # # # # # # # # # # # # #


Sütun ismi: ItemCategory
Toplam farklı değer sayısı: 26

Sütundaki toplam nan değer sayısı: 0

Farklı değerlerin    sort edilmiş hali:

New Myshaggy        24268
Eco                 12769
Myshaggy            11894
Montana              7744
Caimas               5433
W.shaggy             4563
Efes                 4359
Gustavo              4072
Marrakech            3358
Rhapsody             2982
New Myshaggy 381     2905
Soft Shaggy          2462
Default              2162
Magic                2108
Carina               1339
Modern Shaggy         740
Likewise              699
382                   381
Sheepskin             206
Rug Gripper           172
Lara                   98
Basic Shaggy           86
Stain Remover          78
Medusa                 61
Trend                  48
Flex                   29
Name: ItemCategory, dtype: int64


# # # # # # # # # # # # # # # # # # # #


Sütun ismi: TrackingNumber
Toplam farklı değer sayısı: 49560

Sütundaki toplam nan değer sayısı: 8174

Farklı değerlerin    sort edilmiş hali:

42000000000000            28223
NaN                        8174
2020000000000000000000     3991
1510000000000              1236
42100000000000              475
                          ...
7001163254                    1
7001163249                    1
7001163262                    1
7001163250                    1
7001621904                    1
Name: TrackingNumber, Length: 49560, dtype: int64


# # # # # # # # # # # # # # # # # # # #


Sütun ismi: PostalService
Toplam farklı değer sayısı: 20

Sütundaki toplam nan değer sayısı: 0

Farklı değerlerin    sort edilmiş hali:

Default                               62123
New DHL - Next Day (Medium)            9849
New DHL - Next Day (Small)             7875
DX-Next Day, Box                       3603
New DHL - Next Day (Large)             3138
Royal Mail Tracked 24                  1856
Royal Mail Tracked 24 Amazon Prime     1525
DX-Next Day,Length                     1296
2-5 Business Day                       1214
Royal Mail Tracked 48                   683
New DHL- 48 Hr+                         583
DHL Likewise- Next Day                  440
New DHL- Saturday Signature             405
WAYFAIR                                 308
DHL Likewise- 48 Hr                      47
DX-Saturday, Box                         46
DX-Saturday, Length                      11
DX-B2B, Length                           10
2-5 Business Days                         2
DX-B2B, Box                               2
Name: PostalService, dtype: int64


# # # # # # # # # # # # # # # # # # # #

In [ ]:
# Datamızdaki iki tarih sütünunun datatiplerini datetime olarak değiştiriyoruz. Sonraki satırlarda da bazı data tiplerini değşitireceğiz.

In [11]:
df["ReceivedDate"] = pd.to_datetime(df["ReceivedDate"])
df["ProcessedDate"] = pd.to_datetime(df["ProcessedDate"])

In [12]:
df.OrderId = df.OrderId.astype("int32")

In [13]:
df.OrderItemQuantity = df.OrderItemQuantity.astype("int32")

In [ ]:
# silinen satırlar nedeniyle indexi mizi resetliyoruz.

In [14]:
df = df.sort_values(by = "OrderId")

In [15]:
df.reset_index(drop = True, inplace=True)

In [58]:
df.to_csv("Satislar.csv", index = False)

## <p style="background-color:gray; font-family:newtimeroman; color:white; font-size:100%; text-align:center; border-radius:10px 10px;">####</p>

<h1><left><span style="color:LightCoral; opacity: 1;">Date Sütunlarındaki problemi çözmek için yapılan çalışma</span></center></h1>

In [ ]:
# date içeren iki sütundaki hatalı olan değerleri düzeltebilmek için yeni bir df oluşturup bu sütunlardaki gerekli işlemleri yaptıktan sonra
# tekrar ana datamıza ekleyeceğiz.

In [39]:
datum1 = pd.to_datetime(df["ReceivedDate"])
datum2 = pd.to_datetime(df["ProcessedDate"])
order = df.OrderId
datum = pd.concat([order, datum1, datum2], axis = 1)
datum["difference_day"] =  datum["ProcessedDate"] - datum["ReceivedDate"]
datum.head()

   OrderId        ReceivedDate       ProcessedDate   difference_day
0   100003 2019-11-12 18:58:00 2019-12-14 11:57:00 31 days 16:59:00
1   100004 2019-11-12 23:50:00 2019-12-12 17:17:00 29 days 17:27:00
2   100005 2019-11-12 21:13:00 2019-12-12 17:21:00 29 days 20:08:00
3   100006 2019-11-12 17:57:00 2019-12-13 09:33:00 30 days 15:36:00
4   100007 2019-11-12 18:16:00 2019-12-14 11:54:00 31 days 17:38:00

In [17]:
df.ProcessedDate.value_counts(dropna = False)

NaT                    3464
2022-10-01 17:35:00      53
2022-10-01 17:36:00      47
2021-12-20 15:51:00      46
2022-10-01 17:33:00      46
                       ...
2021-11-30 15:55:00       1
2021-01-12 10:08:00       1
2021-11-30 16:08:00       1
2021-01-12 10:05:00       1
2022-03-12 22:17:00       1
Name: ProcessedDate, Length: 47255, dtype: int64

In [30]:
datum['difference_day'].dt.days.mean()

0.23727499126179658

In [40]:
datum.loc[datum['difference_day'].dt.days > 10 , ['ReceivedDate', 'ProcessedDate']] = np.nan
datum.loc[datum['difference_day'].dt.days < 0 , ['ReceivedDate', 'ProcessedDate']] = np.nan

In [34]:
# 10 dan büyük ve 0 dan küçük olan günlerdeki tarih verilerini sildikten sonra gün ordalaması
datum["1_dif"] =  datum["ProcessedDate"] - datum["ReceivedDate"]
datum["1_dif"].dt.days.mean()

0.40379795031252974

In [41]:
datum.ReceivedDate.fillna(method='ffill',inplace= True)
datum.ReceivedDate.fillna(method='bfill',inplace= True)
datum.ReceivedDate.isna().sum()

0

In [36]:
# ReceivedDate tarihlerini alt ve üsttekilerle düzelttikten sonra ki ortalama
datum["2_dif"] =  datum["ProcessedDate"] - datum["ReceivedDate"]
datum["2_dif"].dt.days.mean()

0.40379795031252974

In [ ]:
datum.ProcessedDate.fillna(method='ffill',inplace= True)
datum.ProcessedDate.fillna(method='bfill',inplace= True)
datum.ProcessedDate.isnull().sum()

In [37]:
mask = pd.isnull(datum['ProcessedDate'])
datum['ProcessedDate'] = datum['ProcessedDate'].where(~mask, datum['ReceivedDate'] + pd.Timedelta(days=1))

datum.ProcessedDate.isnull().sum()

0

In [38]:
# ProcessedDate i ReceivedDate sütunundaki değerlere 1 gün ekleyerek doldurduktan sonraki ortama
datum["3_day"] =  datum["ProcessedDate"] - datum["ReceivedDate"]
datum['3_day'].dt.days.mean()

0.604477140692094

In [42]:
mask = pd.isnull(datum['ProcessedDate'])
datum['ProcessedDate'] = datum['ProcessedDate'].where(~mask, datum['ReceivedDate'])

datum.ProcessedDate.isnull().sum()

0

In [43]:
# ProcessedDate i ReceivedDate sütunundaki aynı değerlerle doldurduktan sonraki ortama
datum["3_day"] =  datum["ProcessedDate"] - datum["ReceivedDate"]
datum['3_day'].dt.days.mean()

0.2678811989559653

<span style="color:DeepPink"> Uygun olana karar verip ona göre son uygulamayı yapalım</span><br>

In [ ]:
# Uygun olan değerlerle date sütunlarındaki hataları çözüyoruz.
df.ReceivedDate = datum.ReceivedDate
df.ProcessedDate = datum.ProcessedDate
df["day_difference"] = (df.ProcessedDate - df.ReceivedDate).dt.days

## <p style="background-color:gray; font-family:newtimeroman; color:white; font-size:100%; text-align:center; border-radius:10px 10px;">####</p>

In [45]:
df.head()

,OrderId,Company,CustomerID,Post_Code,ReceivedDate,Country,status,Processed,ProcessedDate,Source,...,Total,OrderItemSKU,OrderItemTitle,ItemCategory,OrderItemQuantity,DispatchStockUnitCost,TotalWeight,PurchasePrice,TrackingNumber,PostalService
0,100003,Redacted,C0000001,Redacted,2019-11-12 18:58:00,United Kingdom,PAID,1.0,2019-12-14 11:57:00,AMAZON,...,49.9,47266-my,EFES 7434 grau 160X230,Default,1,0.0,0.0,0.00,NaN,Default
1,100004,Redacted,C0000001,Redacted,2019-11-12 23:50:00,United Kingdom,PAID,1.0,2019-12-12 17:17:00,AMAZON,...,39.9,47273-uk,Mynes Home UK Grey Rug Plain Pattern Living Ro...,Default,1,0.0,0.0,0.00,2020000000000000000000,Default
2,100005,Redacted,C0000001,Redacted,2019-11-12 21:13:00,United Kingdom,PAID,1.0,2019-12-12 17:21:00,AMAZON,...,79.9,47267-my,Mynes Home UK Grey Rug Wavy Pattern Living Roo...,Default,1,0.0,0.0,0.00,2020000000000000000000,Default
3,100006,Redacted,C0000001,Redacted,2019-11-12 17:57:00,United Kingdom,PAID,1.0,2019-12-13 09:33:00,AMAZON,...,39.9,47273-uk,Mynes Home UK Grey Rug Plain Pattern Living Ro...,Default,1,0.0,0.0,0.00,2020000000000000000000,Default
4,100007,NaN,C0005444,HP13 6JT,2019-11-12 18:16:00,United Kingdom,PAID,1.0,2019-12-14 11:54:00,EBAY,...,54.9,47278-uk,EFES 7437 beige 160X230,Efes,1,0.0,0.0,15.09,NaN,Default

In [49]:
df[["Currency", "Total"]]

      Currency  Total
0          GBP  49.90
1          GBP  39.90
2          GBP  79.90
3          GBP  39.90
4          GBP  54.90
...        ...    ...
95011      GBP  29.98
95012      UNK   0.00
95013      GBP  33.99
95014      GBP  93.41
95015      GBP   9.99

[95016 rows x 2 columns]

In [ ]:
# OrderItemSKU diğer tablolarla bağlandı değeri olacağı için onu atmıyoruz.
df = df.drop(["Company", "TrackingNumber", "Processed", "Subtotal", "Tax", "DispatchStockUnitCost"], axis = 1)

In [ ]:
df.to_csv("Satislar.csv", index=False)

## <p style="background-color:green; font-family:newtimeroman; color:white; font-size:100%; text-align:center; border-radius:10px 10px;">data cleaning birinci adım tamamlanmış hali ile devam</p>

In [ ]:
df1 = pd.read_csv("Satislar.csv")

In [ ]:
df.info()

In [ ]:
df1.select_dtypes(include = "number").isna().sum()

In [ ]:
df1.status.value_counts()

In [ ]:
df1.Country.value_counts()

In [ ]:
df1["difference_day"] =  df1["ProcessedDate"] - df1["received_date"]
(df1.difference_day.dt.days).value_counts(dropna=False)

In [ ]:
(df1.difference_day.dt.days > 10).value_counts()

In [ ]:
(df1.difference_day.dt.days < 0).value_counts()

In [ ]:
df1[df1.difference_day.dt.days > 500]

In [ ]:
value_counts

In [ ]:
df1.Processed.value_counts()

In [ ]:
from columnAnalysis import *

In [ ]:
column_analysis_num(df1)

In [ ]:
df1.OrderItemQuantity.value_counts()

In [ ]:
korelasyon(df1)

In [ ]:
df1[["Subtotal", "Total", "Tax"]] # total bırakılıp subtotal ve tax düşürülebilir.

In [ ]:
out_std_detect(df1, "Total") # std*3 e göre outlier var mı?

In [ ]:
outlier_detect_iqr(df1, "Total") # quantillere göre outlier var mı?

In [ ]:
amazon_satislar = df[df.customer_id== "C0000001"]
other_satislar = df[df.customer_id != "C0000001"]

In [ ]:
amazon_satislar.to_csv('amazon_satislar.csv', index=False)
other_satislar.to_csv('other_satislar.csv', index=False)